@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245, 71%, 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 90%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 270 100% 50.2%; /* Electric Violet */
    --primary-foreground: 0 0% 100%;
    --secondary: 275 100% 25%; /* Indigo */
    --secondary-foreground: 0 0% 100%;
    --muted: 275 30% 80%; /* Lightened Indigo */
    --muted-foreground: 275 20% 40%;
    --icon: 245, 71%, 90%;
    --accent: 300 30% 75%; /* Misty Lilac */
    --accent-foreground: 270 100% 50%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 275 15% 85%;
    --input: 275 15% 85%;
    --ring: 270 100% 50%;
    --radius: 0.5rem;
    --chart-1: 280 70% 55%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 270 100% 10%; /* Dark Electric Violet */
    --foreground: 0 0% 100%;
    --card: 270, 100%, 15%;
    --card-foreground: 0 0% 100%;
    --popover: 270 100% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 270 100% 50.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 275 50% 15%; /* Dark Indigo */
    --secondary-foreground: 0 0% 100%;
    --muted: 275 30% 25%;
    --muted-foreground: 275 20% 65%;
    --icon: 245, 0%, 0%;
    --accent: 280 30% 20%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 275 30% 25%;
    --input: 275 30% 25%;
    --ring: 275 50% 50%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background  text-foreground;
  }
}

/* global.css */
/* global.css */
.custom-calendar select {
  @apply bg-gray-200 text-gray-700 border-gray-300 rounded-md p-1 mx-1;
}

.custom-calendar .rdp-caption_dropdowns {
  @apply flex justify-center space-x-2 mb-2;
}

.custom-calendar .rdp-caption_label {
  @apply font-semibold text-gray-800;
}

.custom-calendar .rdp-table {
  @apply w-full border-collapse;
}

.custom-calendar .rdp-day {
  @apply p-2 text-sm rounded-full hover:bg-blue-500 hover:text-white;
}

.custom-calendar .rdp-day_selected {
  @apply bg-blue-600 text-white;
}

.custom-calendar .rdp-day_disabled {
  @apply text-gray-300 cursor-not-allowed;
}

.chart-box-parent {
  @apply w-full h-full bg-muted/50 rounded-md shadow-lg p-3;
}

.chart-box-header {
  @apply flex items-center gap-2 pb-3 p-2 border-b mb-2;
}

.chart-box-icon {
  @apply bg-secondary p-2 rounded-full;
}

.chart-box-content {
  @apply flex gap-2 items-center pt-2;
}

.chart-box-parent {
  @apply w-full h-full bg-muted/50 rounded-md shadow-lg p-3;
}

.chart-box-header {
  @apply flex items-center gap-2 pb-3 p-2 border-b mb-2;
}

.chart-box-icon {
  @apply bg-muted p-2 rounded-full;
}

.chart-box-content {
  @apply flex gap-2 items-center pt-2;
}

ul.pagination {
  list-style: none;
}

